body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}
header {
    background-color: #004d99;
    color: white;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}
a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
nav {
    margin: 10px 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: transform 1s ease, color 0.3s ease; /* 添加过渡效果 */
}

nav a:hover {
    transform: scale(1.1); /* 放大效果 */
    color: #007bff;
    font-size: 150%;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
h1 {
    margin: 0;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
footer {
    background-color: #535353;
    padding: 10px 0;
    text-align: center;
    color: lightgrey;
    border-top: 1px solid #ddd;
}
.section {
    margin: 20px 0;
}
.section h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
}
.resource-category {
    margin-bottom: 20px;
}
.resource-category h3 {
    margin-top: 0;
}
.resource-item {
    margin-bottom: 10px;
}
.resource-item a {
    color: #007bff;
    text-decoration: none;
}
.resource-item a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    .banner {
        padding: 30px 0;
    }
    .button {
        padding: 8px 16px;
    }
}